<form action="answer">
  <input type="text" name="question" class="text-box block center-block" placeholder="Ask something stupid to your stupid coach ...">
  <input type="submit" value="Ask!" class="submit-btn-block block center-block">
</form>
