// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3, p {
  margin: 0;
}

.block {
  display: block;
}

.center-block {
  margin: 8px auto;
}

.text-box {
  width: 80%;
  outline: none;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  padding: 8px 16px;
  &:focus {
    border-color: #ff8906;
  }
}

.submit-btn-block {
  width: 200px;
  outline: none;
  background-color: #ff8906;
  border: none;
  border-radius: 4px;
  color: #fffffe;
  padding: 8px 16px;
  text-decoration: none;
}

.card {
  position: relative;
  box-sizing: border-box;
  width: 80%;
  height: 100px;
  background-color: #fffffe;
  color: #0f0e17;
  border: none;
  margin: 8px auto;
  p {
    font-size: 20px;
    font-weight: bolder;
  }
  h3 {
    font-size: 16px;
    font-weight: lighter;
  }
}

.card-question {
  border-left: 8px solid #ff8906;
  text-align: left;
}

.card-answer {
  border-right: 8px solid #ff8906;
  text-align: right;
}

.absolute-center {
  width: 100%;
  position: absolute;
  margin: auto;
  height: 40%;
  top: 0;
  bottom: 0;
}

.right {
  right: 16px;
}

.left {
  left: 16px;
}
